body {
 	background-image: url("img/indian.jpg");
    background-size: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

#light_on{
	position: absolute;
	top: -7%;
    width: 26%;
    left: 23.5%;
}

#mirror_clear{
	position: absolute;
	width: 12%;
    top: 40%;
    left: 31.5%;

}

#wineglass_empty1{
	position: absolute;
	width: 20%;
    top: 56.5%;
    left: 13.5%;
}

#mirror_ghost{
	position: absolute;
	width: 12%; 
    top: 39.35%;
    left: 31.5%;
    display: none;
}

#wineglass_full1{
	position: absolute;
	width: 19%;
    top: 59.65%;
    left: 13.88%;
    display: none;
}

#light_off{
	position: absolute;
	top: 6%;
    left: 29%;
    width: 15%;
    display: none;
}