body {
 	background-image: url("img/italian.jpg");
    background-size: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

@media only screen and (min-width: 812px) {
  .large {
  	display: inline-block;
  }
  .small {
  	display: none;
  }

#plate_empty{
	position: absolute;
	width: 11%;
    top: 52.5%;
    left: 26%;
}

#glass_empty3{
	position: absolute;
	width: 15%;
    top: 52.25%;
    right: 14.45%;
}

#wineglass_full3{
	position: absolute;
	width: 15%;
    top: 51.07%;
    right: 14.96%;
    display: none;
}

#candle_unlit{
	position: absolute;
	width: 14%;
    top: 33.5%;
    left: 44.65%;
}

#candle_lit{
	position: absolute;
	width: 14%;
    top: 31.5%;
    left: 44.65%;
    display: none;
}

#speaker2{
	position: absolute;
	width: 13%;
    right: 4%;
    top: -10%;
}

#plate_full{
	position: absolute;
	width: 12%;
    top: 50.75%;
    left: 25.5%;
    display: none;
}
}

@media only screen and (max-width: 812px) {
  .small {
  	display: inline-block;
  	width: 100%;
  }
  .large {
  	display: none;
  }

#plate_empty{
	position: absolute;
	width: 11%;
    top: 30.95%;
    left: 26%;
}

#glass_empty3{
	position: absolute;
	width: 15%;
    top: 31.15%;
    right: 14.45%;
}

#wineglass_full3{
	position: absolute;
	width: 15%;
    top: 30.37%;
    right: 14.96%;
    display: none;
}

#candle_unlit{
	position: absolute;
	width: 14%;
    top: 19.95%;
    left: 44.65%;
}

#candle_lit{
	position: absolute;
	width: 14%;
    top: 18.75%;
    left: 44.65%;
    display: none;
}

#speaker2{
	position: absolute;
	width: 13%;
    right: 4%;
    top: -6%;
}

#plate_full{
	position: absolute;
	width: 12%;
    top: 29.95%;
    left: 25.5%;
    display: none;
}
}