body {
 	background-image: url("img/mexican.jpg");
    background-size: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

#fish_regular{
	position: absolute;
	width: 17%;
    top: 35%;
    left: -1.75%;
}

#fish_bubbles{
	position: absolute;
	width: 17%;
    top: 34%;
    left: -0.65%;
    display: none;
}

#speaker1{
	position: absolute;
    width: 14%;
    right: -3.5%;
    top: -5%;

}

#money{
	position: absolute;
	width: 14%;
    left: 30%;
    top: 52%;
}