body {
 	background-image: url("img/mexican.jpg");
    background-size: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

@media only screen and (min-width: 812px) {


#fish_regular{
	position: absolute;
	width: 17%;
    top: 35%;
    left: -1.75%;
}

#fish_bubbles{
	position: absolute;
	width: 17%;
    top: 33.5%;
    left: -0.65%;
    display: none;
}

#speaker1{
	position: absolute;
    width: 14%;
    right: -3.5%;
    top: -5%;

}

#money{
	position: absolute;
	width: 14%;
    left: 30%;
    top: 52%;
}
}

@media only screen and (max-width: 812px) {


#fish_regular{
	position: absolute;
	width: 17%;
    top: 21%;
    left: -1.75%;
}

#fish_bubbles{
	position: absolute;
	width: 17%;
    top: 20.15%;
    left: -0.65%;
    display: none;
}

#speaker1{
	position: absolute;
    width: 14%;
    right: -3.5%;
    top: -5%;

}

#money{
	position: absolute;
	width: 14%;
    left: 30%;
    top: 30.5%;
}
}